.root {
    -fx-background-color: #1e1e2e;
    -fx-font-family: "JetBrains Mono";
    -fx-text-fill: white;
}

.log-label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Tạo hiệu ứng nền blur cho Log Area */
.log-area {
    -fx-background-color: rgba(255, 255, 255, 0.1); /* Nền trong suốt */
    -fx-background-radius: 10px;
    -fx-border-color: rgba(255, 255, 255, 0.3); /* Viền trắng nhạt */
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-text-fill: black; /* Màu chữ trắng để dễ đọc */
}

.button {
    -fx-padding: 8px 16px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-cursor: hand;
}

.stop-button {
    -fx-background-color: #d9534f; /* Màu đỏ */
    -fx-text-fill: white;
}

.clear-button {
    -fx-background-color: #5bc0de; /* Màu xanh */
    -fx-text-fill: white;
}

.stop-button:hover {
    -fx-background-color: #c0392b;
}

.clear-button:hover {
    -fx-background-color: #2980b9;
}
/* Nút My File */
.myfile-button {
    -fx-background-color: #5bc0de; /* Màu xanh */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
}

.myfile-button:hover {
    -fx-background-color: #2980b9;
}

.myfile-button:pressed {
    -fx-background-color: #1f618d;
}

/* Nút Send File */
.sendfile-button {
    -fx-background-color: #ffc107; /* Màu vàng */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
}

.sendfile-button:hover {
    -fx-background-color: #e0a800;
}

.sendfile-button:pressed {
    -fx-background-color: #c69500;
}

/* Nút Decrypt File */
.decryptfile-button {
    -fx-background-color: #28a745; /* Màu xanh lá */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
}

.decryptfile-button:hover {
    -fx-background-color: #218838;
}

.decryptfile-button:pressed {
    -fx-background-color: #1e7e34;
}

/* Nút Logout */
.logout-button {
    -fx-background-color: #dc3545; /* Màu đỏ */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
}

.logout-button:hover {
    -fx-background-color: #c82333;
}

.logout-button:pressed {
    -fx-background-color: #bd2130;
}